.world
{
    text-align: center;
    text-transform: uppercase;
    color: #6a4caf;
}
.circle
{
    text-align: center;
}
.input{
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.output
{
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.input:focus
{
    border: 3px solid rgb(118, 199, 247);
}
.output:focus
{
    border: 3px solid rgb(118, 199, 247);
}
.button
{
    border-radius: 4px;
  background-color: #1ed4f4;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 28px;
  width: 200px;
  height: 70px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  .bombb
  {
    background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  }